In [3]:
seq =[1 ,2 ,3, 4, 5, 6]

In [5]:
for i in seq:
  print(i)

1
2
3
4
5
6

In [6]:
for i in seq:
    print("hello !")

hello !
hello !
hello !
hello !
hello !
hello !

In [11]:
#range preenche sequencias muito longas de modo automatico, sendo interavel
range(0, 100)

range(0, 100)

In [9]:
type(range(0, 100))

range

In [10]:
for i in range(0, 50):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [12]:
seq = list(range(0, 50))

In [13]:
seq

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [14]:
i = 1

In [15]:
#while i < 5:
# print("i vale:{}".format(i))

In [16]:
while i < 5:
    print("i vale: {}".format(i))
    i = i+1

i vale: 1
i vale: 2
i vale: 3
i vale: 4

In [21]:
#list comprehension
out = []

In [23]:
x = [1, 2, 3, 4, 5]

In [24]:
for i in x:
    out.append(i**2)

In [25]:
out

[1, 4, 9, 16, 25]

In [26]:
[item**2 for item in x]

[1, 4, 9, 16, 25]

In [27]:
#funÃ§oes sao formas de reciclar trechos de codigos que serao usados ao longo do tempo
def minha_func(param):
    print(param)

In [28]:
minha_func

In [29]:
minha_func('ola')

ola

In [30]:
def minha_func(param):
    x = param**2
    return x

In [31]:
x = 2

In [32]:
y = minha_func(x)

In [33]:
y

4