In [1]:
#objeto basico do pandas
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']

In [4]:
minha_lista = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

In [5]:
#transformar em series
pd.Series(data = minha_lista, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
series = pd.Series(data = minha_lista, index = labels)

In [7]:
series['b'] #acessa igual dicionario

20

In [8]:
pd.Series(minha_lista, labels) #pd.Series(data, index)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(labels, minha_lista)

10    a
20    b
30    c
dtype: object

In [10]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [11]:
#series nao precisa ta preso em um tipo de dadps

In [12]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'URSS', 'Japão'])

In [14]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,3,4], index = ['EUA', 'Alemanha', 'Italia', 'Japão'])

In [16]:
ser2

EUA         1
Alemanha    2
Italia      3
Japão       4
dtype: int64

In [18]:
ser1 + ser2 #soma por indice,podendo estar em qualquer ordem

Alemanha    4.0
EUA         2.0
Italia      NaN
Japão       8.0
URSS        NaN
dtype: float64